<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<context:component-scan base-package="mall.service"/>
    <!--<bean id="itemService" class="mall.service.ItemServiceImpl"/>-->

    <!--<dubbo:application name="webapp" />-->
    <!--<dubbo:registry protocol="zookeeper" address="127.0.0.1:8085/" />-->
    <!--&lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;-->
    <!--<dubbo:protocol name="dubbo" port="20880" />-->
    <!--&lt;!&ndash; 声明需要暴露的服务接口 &ndash;&gt;-->
    <!--<dubbo:service interface="mall.service.ItemService" ref="itemServiceImpl" />-->


</beans>